.review-form-container {
  /* border: 2px solid fuchsia; */
  display:flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-div {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-form-container form {

  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  padding-left: 400px;
}
.review-form-container label {
  margin:10px 0px;
}
.review-form-container input {
  width: 60%;
  height: 25px;
  margin:10px 0px;
}

.review-form-container select {
  width: 60%;
  height: 25px;
}
.review-form-container textarea {
  margin:10px 0px;
  width: 60%;
  height: 70px;
}

.btn-add-review {
  width: 60%;
  padding: 0.5rem 1rem;
  background-color: #2ecc71;
  color: #fff;
  font-size: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
  
}
